button{
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: none;
   	transition:all 0.3s ease;
   	font-size:$fontNorm;
   	font-weight:300;
    margin: 0 0.25rem;
    &:last-child{
        margin-right:0;
    }
    &:first-child{
        margin-left:0;
    }
    &.shadow{
    	 box-shadow:0px 0px 15px rgba(0,0,0,.15);	
    }
    &:hover{
    	 box-shadow:0px 0px 25px rgba(0,0,0,.25);
    }
    &.primary{
    	background-color: $vividpurple;
    	color:#fff;
    }
}