$dark:#190B21;
$purple:#822973;
$vividpurple:#A62193;
$darkpurple:#402A49;

$ISQhigh:#90CE67;
$ISQmedium:#F2BD38;
$ISQlow:#CE2163;

$shadedwhite:#fbfbfb;
$subtlegrey:#EDEDED;
$lightgrey:#dcdcdc;
$midgrey:#bbb;
$grey:#4D4D4D;