@font-face {
  font-family: 'osstell-icons';
  src:
    url('font/osstell-icons.ttf?cbhqxf') format('truetype'),
    url('font/osstell-icons.woff?cbhqxf') format('woff'),
    url('font/osstell-icons.svg?cbhqxf#osstell-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osstell-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e900";
}
.icon-implants:before {
  content: "\e901";
}
.icon-insights:before {
  content: "\e902";
}
.icon-instruments:before {
  content: "\e903";
}
.icon-knowledge-base:before {
  content: "\e904";
}
.icon-patient-records:before {
  content: "\e905";
}
.icon-profile:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}

