$margin:0.5rem;


.panel-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	margin: 0 -$margin;
}
panel{
	$padding:1rem;
	background-color:$shadedwhite;
	padding: 1rem;
    box-sizing: border-box;
	box-shadow:0px 0px 10px rgba(0,0,0,.15);
	margin:$margin;
	margin-bottom:$margin;
	flex-basis:33.3333333%;
	flex-basis: calc(33.3333333333% - #{$margin*2}); 
	transition:all 0.3s ease;
	overflow: hidden;
	&:before{
	    content:'';
	    float:left;
    	padding-top:100%;
	}
	&:hover{
		background:#fff;
		box-shadow:0px 0px 45px rgba(0,0,0,.15);
	}
	&.small{
		
	} 

	&.medium{
		flex-basis:66.66666667%;
		flex-basis: calc(66.6666666667% - #{$margin*2});
		flex-grow: 1;
		&:before{
	    padding-top:calc(50% - #{$padding*1.5});
		}
	}
	
	&.full{
		flex-basis: 100%;
		&:before{
	    	padding-top: 0;
		}
		.content{
			// padding:1.5rem;
			box-sizing:border-box;
			height:auto;
		}
	}

	&.insight{
		background:$purple;
		.header{
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}
	}

	.header{
	    border-bottom: 1px solid $subtlegrey;
	    padding: 0 1rem 0.5rem;
	    margin: -0.25rem -1rem 0.5rem;
	}

	.content{
		// padding:1.5rem;
		box-sizing:border-box;
		height:0;
	}


}