.stats-bar{
	display:flex;
	.single-value-stat{
		text-align:center;
		padding: 0 1rem;
		border-left:1px solid $lightgrey;
	    /* flex-grow: 0; */
	    /* flex-basis: 0; */
	    width: 16.666667%;
	    box-sizing: border-box;
		&:first-child{
			border-left:none;
		}
		.value{
			font-size:$fontBig;
			color:$vividpurple;
			font-weight: 100;
			.trailing{
				font-size:$fontNorm;
				color:$grey;
				text-transform:uppercase;
			}
		}
		.label{
			font-size:$fontSmall;
			color:$grey;
			font-weight: 300;
		}
	}
}