table{
	width:calc(100% + 2rem);
	font-weight:300;

    border-collapse: collapse; 
    margin:0 -1rem -0.75rem -1rem;
	thead{
		text-align:left;
		tr{
			border-bottom:2px solid $lightgrey;
		}
		th{
			
			padding: 1rem  1rem 0.25rem;
			font-weight:500;
			font-size:$fontSmall;
		}
	}
	tbody{
		tr{
			// display:block;
			border-bottom:1px solid $lightgrey;
			&:last-child{
				border-bottom:none;

			}
			&:hover{
				background-color:$shadedwhite;
			}
			td{
				padding: 0.5rem 1rem;
				.sub-status{
					font-size:$fontSmall;
					color:$midgrey;
					font-weight:300;
				}
				.status-marker{
				        
				    width: 0.75rem;
				    height: 0.75rem;
				    float: left;
				    margin-top: 0.4rem;
				    border-radius: 50%;
				    margin-right: 0.5rem;				
				    background-color:$grey;
				    &.high{
				    	background-color:$ISQhigh;
				    }
				    &.medium{
				    	background-color:$ISQmedium;
				    }
				    &.low{
				    	background-color:$ISQlow;
				    }
				}
				.sub-date{
					font-size:$fontSmall;
					font-weight:300;
					color:$midgrey;
					margin-left: 0.5rem;
				}
			}
		}
				
	}
	.insight-badge{
		color:#fff;
		font-size:$fontMini	;
		padding:0.25rem 0.5rem;
		background-color:$vividpurple;
		border-radius:1rem;
		line-height:1rem;
		i{
			font-size:$fontSmall;
		}
	}
}