@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

$fontMini:0.6rem;
$fontSmall:0.8rem;
$fontNorm:1rem;
$fontMidi:1.15rem;
$fontBig:2rem;
$fontMaxi:3rem;

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
}

h1{
	font-size:3rem;
	font-weight: 100;
	color:$purple;
	margin-bottom: 1rem;
	display:flex;
}
button{
	font-family: 'Source Sans Pro', sans-serif;
}
panel{

	.header{
		.type{
			font-weight: 400;
	    	font-size: $fontMini;
	    	text-transform: uppercase;
	    	color: $vividpurple;
	    	letter-spacing: 0.25px;
		}
		h2{
			font-weight: 100;
			font-size:$fontMidi;
			margin:0;
			color:$grey;
		}		
	}
	.content{
		h3{
			font-weight: 100;
			font-size: $fontBig;
			margin:0;
		}
		p{
			font-size: $fontNorm;
		}
	}
	&.display{
		.content{
			h3,p{
				width: 50%;
			}

		}
	}
	&.insight{
		color:#fff;
		.type,h2{
			color:#fff;
		}
	}

}