@import 'reset';
@import 'colors';
@import 'typography';
@import 'icons';
@import 'panels';
@import 'stats-bar';
@import 'buttons';
@import 'table';

#app{
	display: flex;
	width: 100%;
	height: 100%;
	background: $subtlegrey;
}
a{
	color:$vividpurple;
	text-decoration:none;
}
.push-right{
	float:right;
}
$navwidth: 50px;

nav{
	position:fixed;
	height:100%;
	width: $navwidth;
	font-size: 1.1rem;
	font-weight:300;
	transition:all 0.35s ease;
	overflow:hidden;
	
	&.expanded,&:hover{
		width: 250px;
		.nav-item{
			.title{
				opacity:1;
			}
		}

	}
	.logo{
		background:$darkpurple;
		height:$navwidth;
	}
	/*display: flex;*/
	background: $dark;
	/*flex: 1;*/
	.nav-item{
		padding: 1rem 13px;
		background:inherit;
		border:none;
		color:#fff;
		white-space: nowrap;
		&.active{
			background-color:$purple;
		}
		i{
			font-size:1.5rem;
		    display: block;
		    float: left;
		    margin-right: 1rem;

		}
		&:hover{
			background:$darkpurple;
		}
		.title{
			transition:all 0.35s ease;
			margin-left:0.5rem;
			opacity:0;
			font-weight: 200;
		}
		
	}
	.nav-group{

	}
}
main{
	margin-left:$navwidth;
	width: 100%;
	flex-direction:column;
}
header{
	$headerHeight:50px;
	height: $headerHeight;
	background: #fff;
	display:flex;
	justify-content: flex-end;

	.item{
		line-height:$headerHeight;
		color:$grey;
	    font-size: 0.9rem;
	    padding: 0px 2rem;
	    border-left: 2px solid #eee;
	    
	    input{
	    	border: 0;
		    font-size: 0.9rem;
		    padding: 0 0.5rem;
		    height: $headerHeight;
		    color:$grey;
	    }

	    i{
	    	font-size: 1.5em;
		    display: block;
		    margin-top: 14px;
		    float: left;
		    margin-right: 0.5rem;
	    }
	}
}
content{
	flex: 1;
	display: flex;
	background-color: $subtlegrey;
	flex-direction:column;
}
section{
	justify-content: center;
	display:flex;
	margin:1rem 0 0 0;

	&:first-child{
		margin-top:0;
	}

	&.full{
		background-color: $purple;
	}

  	.inner{
  		max-width: 960px;
		flex-basis: auto; 
		flex-grow: 1;
		padding: 0 1rem;
		>h1{
			display:inline-block;
			margin-bottom:0;
		}
  	}
}

.action-group{
	margin-top:3rem;
}

