@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px; }

h1 {
  font-size: 3rem;
  font-weight: 100;
  color: #822973;
  margin-bottom: 1rem;
  display: flex; }

button {
  font-family: 'Source Sans Pro', sans-serif; }

panel .header .type {
  font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #A62193;
  letter-spacing: 0.25px; }

panel .header h2 {
  font-weight: 100;
  font-size: 1.15rem;
  margin: 0;
  color: #4D4D4D; }

panel .content h3 {
  font-weight: 100;
  font-size: 2rem;
  margin: 0; }

panel .content p {
  font-size: 1rem; }

panel.display .content h3, panel.display .content p {
  width: 50%; }

panel.insight {
  color: #fff; }
  panel.insight .type, panel.insight h2 {
    color: #fff; }

@font-face {
  font-family: 'osstell-icons';
  src: url("font/osstell-icons.ttf?cbhqxf") format("truetype"), url("font/osstell-icons.woff?cbhqxf") format("woff"), url("font/osstell-icons.svg?cbhqxf#osstell-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osstell-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-dashboard:before {
  content: "\e900"; }

.icon-implants:before {
  content: "\e901"; }

.icon-insights:before {
  content: "\e902"; }

.icon-instruments:before {
  content: "\e903"; }

.icon-knowledge-base:before {
  content: "\e904"; }

.icon-patient-records:before {
  content: "\e905"; }

.icon-profile:before {
  content: "\e906"; }

.icon-search:before {
  content: "\e907"; }

.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin: -0.5rem; }

panel {
  background-color: #fbfbfb;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 0.5rem;
  margin-bottom: 0.5rem;
  flex-basis: 33.3333333%;
  flex-basis: calc(33.3333333333% - 1rem);
  transition: all 0.3s ease;
  overflow: hidden; }
  panel:before {
    content: '';
    float: left;
    padding-top: 100%; }
  panel:hover {
    background: #fff;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15); }
  panel.medium {
    flex-basis: 66.66666667%;
    flex-basis: calc(66.6666666667% - 1rem);
    flex-grow: 1; }
    panel.medium:before {
      padding-top: calc(50% - 1.5rem); }
  panel.full {
    flex-basis: 100%; }
    panel.full:before {
      padding-top: 0; }
    panel.full .content {
      box-sizing: border-box;
      height: auto; }
  panel.insight {
    background: #822973; }
    panel.insight .header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  panel .header {
    border-bottom: 1px solid #EDEDED;
    padding: 0 1rem 0.5rem;
    margin: -0.25rem -1rem 0.5rem; }
  panel .content {
    box-sizing: border-box;
    height: 0; }

.stats-bar {
  display: flex; }
  .stats-bar .single-value-stat {
    text-align: center;
    padding: 0 1rem;
    border-left: 1px solid #dcdcdc;
    /* flex-grow: 0; */
    /* flex-basis: 0; */
    width: 16.666667%;
    box-sizing: border-box; }
    .stats-bar .single-value-stat:first-child {
      border-left: none; }
    .stats-bar .single-value-stat .value {
      font-size: 2rem;
      color: #A62193;
      font-weight: 100; }
      .stats-bar .single-value-stat .value .trailing {
        font-size: 1rem;
        color: #4D4D4D;
        text-transform: uppercase; }
    .stats-bar .single-value-stat .label {
      font-size: 0.8rem;
      color: #4D4D4D;
      font-weight: 300; }

button {
  padding: 0.75rem 1rem;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0.25rem; }
  button:last-child {
    margin-right: 0; }
  button:first-child {
    margin-left: 0; }
  button.shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); }
  button:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); }
  button.primary {
    background-color: #A62193;
    color: #fff; }

table {
  width: calc(100% + 2rem);
  font-weight: 300;
  border-collapse: collapse;
  margin: 0 -1rem -0.75rem -1rem; }
  table thead {
    text-align: left; }
    table thead tr {
      border-bottom: 2px solid #dcdcdc; }
    table thead th {
      padding: 1rem  1rem 0.25rem;
      font-weight: 500;
      font-size: 0.8rem; }
  table tbody tr {
    border-bottom: 1px solid #dcdcdc; }
    table tbody tr:last-child {
      border-bottom: none; }
    table tbody tr:hover {
      background-color: #fbfbfb; }
    table tbody tr td {
      padding: 0.5rem 1rem; }
      table tbody tr td .sub-status {
        font-size: 0.8rem;
        color: #bbb;
        font-weight: 300; }
      table tbody tr td .status-marker {
        width: 0.75rem;
        height: 0.75rem;
        float: left;
        margin-top: 0.4rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        background-color: #4D4D4D; }
        table tbody tr td .status-marker.high {
          background-color: #90CE67; }
        table tbody tr td .status-marker.medium {
          background-color: #F2BD38; }
        table tbody tr td .status-marker.low {
          background-color: #CE2163; }
      table tbody tr td .sub-date {
        font-size: 0.8rem;
        font-weight: 300;
        color: #bbb;
        margin-left: 0.5rem; }
  table .insight-badge {
    color: #fff;
    font-size: 0.6rem;
    padding: 0.25rem 0.5rem;
    background-color: #A62193;
    border-radius: 1rem;
    line-height: 1rem; }
    table .insight-badge i {
      font-size: 0.8rem; }

#app {
  display: flex;
  width: 100%;
  height: 100%;
  background: #EDEDED; }

a {
  color: #A62193;
  text-decoration: none; }

.push-right {
  float: right; }

nav {
  position: fixed;
  height: 100%;
  width: 50px;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 0.35s ease;
  overflow: hidden;
  /*display: flex;*/
  background: #190B21;
  /*flex: 1;*/ }
  nav.expanded, nav:hover {
    width: 250px; }
    nav.expanded .nav-item .title, nav:hover .nav-item .title {
      opacity: 1; }
  nav .logo {
    background: #402A49;
    height: 50px; }
  nav .nav-item {
    padding: 1rem 13px;
    background: inherit;
    border: none;
    color: #fff;
    white-space: nowrap; }
    nav .nav-item.active {
      background-color: #822973; }
    nav .nav-item i {
      font-size: 1.5rem;
      display: block;
      float: left;
      margin-right: 1rem; }
    nav .nav-item:hover {
      background: #402A49; }
    nav .nav-item .title {
      transition: all 0.35s ease;
      margin-left: 0.5rem;
      opacity: 0;
      font-weight: 200; }

main {
  margin-left: 50px;
  width: 100%;
  flex-direction: column; }

header {
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: flex-end; }
  header .item {
    line-height: 50px;
    color: #4D4D4D;
    font-size: 0.9rem;
    padding: 0px 2rem;
    border-left: 2px solid #eee; }
    header .item input {
      border: 0;
      font-size: 0.9rem;
      padding: 0 0.5rem;
      height: 50px;
      color: #4D4D4D; }
    header .item i {
      font-size: 1.5em;
      display: block;
      margin-top: 14px;
      float: left;
      margin-right: 0.5rem; }

content {
  flex: 1;
  display: flex;
  background-color: #EDEDED;
  flex-direction: column; }

section {
  justify-content: center;
  display: flex;
  margin: 1rem 0 0 0; }
  section:first-child {
    margin-top: 0; }
  section.full {
    background-color: #822973; }
  section .inner {
    max-width: 960px;
    flex-basis: auto;
    flex-grow: 1;
    padding: 0 1rem; }
    section .inner > h1 {
      display: inline-block;
      margin-bottom: 0; }

.action-group {
  margin-top: 3rem; }
